In [1]:
import pandas as pd

Let's set up our dataframes and have a look at them

In [3]:
complaints_accused = pd.read_csv("complaints-accused_2000-2016_2016-11.csv.gz")

In [4]:
complaints_accused.head()

,row_id,complaints-accused_2000-2016_2016-11_ID,cr_id,complaint_category,recommended_discipline,final_discipline,recommended_finding,final_finding,UID,old_UID,link_UID
0,1,15646.0,258996,01A-USE OF PROFANITY,600.0,600.0,NS,NS,130754,1421,1421.0
1,2,8602.0,258997,01A-USE OF PROFANITY,600.0,600.0,UN,UN,117163,3556,3556.0
2,3,6951.0,258997,01A-USE OF PROFANITY,600.0,600.0,UN,UN,113991,14292,14292.0
3,4,13745.0,258998,10J-NEGLECT OF DUTY/CONDUCT UNBECOMING - ON DUTY,600.0,600.0,EX,EX,127168,26608,26608.0
4,5,918.0,259001,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,600.0,600.0,UN,UN,101654,17539,17539.0

In [5]:
complaints_victims = pd.read_csv("complaints-victims_2000-2016_2016-11.csv.gz")

In [6]:
complaints_victims.head()

     cr_id  gender   age      race
0  1000009  FEMALE  37.0  HISPANIC
1  1000015  FEMALE  35.0     BLACK
2  1000015  FEMALE  24.0     BLACK
3  1000020    MALE  27.0     BLACK
4  1000021    MALE  26.0     BLACK

In [7]:
complaints_invst = pd.read_csv("complaints-investigators_2000-2016_2016-11.csv.gz")

In [8]:
complaints_invst.head()

,row_id,complaints-investigators_2000-2016_2016-11_ID,cr_id,first_name,last_name,middle_initial,suffix_name,appointed_date,current_star,current_rank,current_unit,UID,old_UID,link_UID
0,1,1,258996,STEVEN,SCHWIEGER,NaN,NaN,1986-06-16,NaN,LIEUTENANT OF POLICE,13.0,128108.0,25837.0,25837.0
1,2,2,258997,MICHAEL,MULLIGAN,NaN,JR,1970-12-14,NaN,SERGEANT OF POLICE,8.0,120741.0,19906.0,19906.0
2,3,3,258998,MAUREEN,MC MAHON,NaN,NaN,1985-07-01,NaN,LIEUTENANT OF POLICE,608.0,119847.0,18396.0,18396.0
3,4,4,258999,BRUCE,DEAN,NaN,NaN,1995-09-16,NaN,SUPERVISING INV IPRA,113.0,NaN,NaN,NaN
4,5,5,259000,LINDA,LABERN,NaN,NaN,1973-07-16,NaN,SERGEANT OF POLICE,20.0,118106.0,15513.0,15513.0

In [12]:
codes = pd.read_csv(r"../../context_data/discipline_penalty_codes.csv")

In [13]:
codes

,CODE,ACTION_TAKEN,NOTES
0,0,VIOLATION NOTED,NaN
1,1,1 DAY SUSPENSION,NaN
2,2,2 DAY SUSPENSION,NaN
3,3,3 DAY SUSPENSION,NaN
4,4,4 DAY SUSPENSION,NaN
5,5,5 DAY SUSPENSION,NaN
6,6,6 DAY SUSPENSION,NaN
7,7,7 DAY SUSPENSION,NaN
8,8,8 DAY SUSPENSION,NaN
9,9,9 DAY SUSPENSION,NaN
10,10,10 DAY SUSPENSION,NaN
11,11,11 DAY SUSPENSION,NaN
12,12,12 DAY SUSPENSION,NaN
13,13,13 DAY SUSPENSION,NaN
14,14,14 DAY SUSPENSION,NaN
15,15,15 DAY SUSPENSION,NaN
16,16,16 DAY SUSPENSION,NaN
17,17,17 DAY SUSPENSION,NaN
18,18,18 DAY SUSPENSION,NaN
19,19,19 DAY SUSPENSION,NaN
20,20,20 DAY SUSPENSION,NaN
21,21,21 DAY SUSPENSION,NaN
22,22,22 DAY SUSPENSION,NaN
23,23,23 DAY SUSPENSION,NaN
24,24,24 DAY SUSPENSION,NaN
25,25,25 DAY SUSPENSION,NaN
26,26,26 DAY SUSPENSION,NaN
27,27,27 DAY SUSPENSION,NaN
28,28,28 DAY SUSPENSION,NaN
29,29,29 DAY SUSPENSION,NaN
30,30,30 DAY SUSPENSION,NaN
31,100,REPRIMAND,NaN
32,200,SUSPENDED OVER 30 DAYS,NaN
33,300,ADMINISTRATIVE TERMINATION,NaN
34,400,SEPARATION,NaN
35,500,REINSTATED BY POLICE BOARD,NaN
36,600,NO ACTION TAKEN,NaN
37,700,REINSTATED BY COURT ACTION,NaN
38,800,RESIGNED - NOT SERVED,To be used when an accused has resigned from t...
39,900,PENALTY NOT SERVED,To be used when an accused is inactive and has...

Merges in pandas must be done on the same data type. We will definitely need to merge on CRID, code, and final_discipline (in complaints accused). So let's double check them.

In [14]:
#final_finding is an object which we will need to merge with codes.CODE
complaints_accused.dtypes

row_id                                       int64
complaints-accused_2000-2016_2016-11_ID    float64
cr_id                                        int64
complaint_category                          object
recommended_discipline                     float64
final_discipline                           float64
recommended_finding                         object
final_finding                               object
UID                                          int64
old_UID                                      int64
link_UID                                   float64
dtype: object

In [15]:
complaints_victims.dtypes #Can't merge different data types.

cr_id       int64
gender     object
age       float64
race       object
dtype: object

In [16]:
complaints_invst.dtypes #Put these checks for joins in a function.

row_id                                             int64
complaints-investigators_2000-2016_2016-11_ID      int64
cr_id                                              int64
first_name                                        object
last_name                                         object
middle_initial                                    object
suffix_name                                       object
appointed_date                                    object
current_star                                     float64
current_rank                                      object
current_unit                                     float64
UID                                              float64
old_UID                                          float64
link_UID                                         float64
dtype: object

In [17]:
#CODE is an int64 which we will need to merge with complaints_accused.crid
codes.dtypes

CODE             int64
ACTION_TAKEN    object
NOTES           object
dtype: object

Convert data types in order to prepare for merging. Once our data types are in place, we will need to merge dataframes multiple times based on cr_id and rename columns. Note: Needing to do the same thing multiple times is a great time to create a function!

Things we should do to prepare for merging: check missing fields, check duplicate cr_ids, possibly more?

I recommend reading the pandas merge documentation to make sure you take advantage of all the optional arguments.

In [20]:
def merge_crid(df_x, df_y, suffix_x, suffix_y):
    '''
    Given two dataframes, this funtion merges on cr_id, renames duplicate columns, and checks for...
    Returns a final data frame with the dataframes merged.
    
    NOTE: I use one function to do many things here, but it might make more sense for you to make more than one.
    '''
    #EVERYTHING BELOW IS PSEUDOCODE. DO NOT RELY ON IT FOR SYNTAX. IT IS MEANT TO GIVE YOU SOME IDEAS FOR GETTING STARTED.
    
    #check for missing cr_id
    assert(df_x.loc(cr_id is null).shape[1] == 0)
    assert(df_y.loc(cr_id is null).shape[1] == 0)
    
    #check for duplicates. This is important to keep in mind for the next part but what exactly you do is up to you. 
    if df_x.nunique(cr_id) != df_x.crid.size:
        ...
    if df_y.nunique(cr_id) != df_x.crid.size:
        ...
    
    #merge the dataframes and return it
    return df_x.merge(df_y, on=cr_id, suffix=(suffix_x, suffix_y))

Once you have a merged dataframe, I recommend creating a function to calculate % sustained complaints after grouping by a certain field. This makes it easier for us to explore % sustained to answer question 5.

In [1]:
def pct_sustained(field, merged_df): #Field is what's going to change. 
    '''
    This function takes a field name and the complete dataframe and returns a dataframe that has the percent 
    of complaints that were sustained based on the given field.
    '''
    #EVERYTHING BELOW IS PSEUDOCODE. DO NOT RELY ON IT FOR SYNTAX. IT IS MEANT TO GIVE YOU SOME IDEAS FOR GETTING STARTED.
    
    #group by the field and final finding. nunique gives us number of unique values.
    by_field_finding = merged_df.groupby(field, final_finding).nunique('cr_id') 
    by_field_sus = by_field_finding.loc(final_finding == "SU") #we only care about the count of sustained
    by_field = merged_df.groupby(field).nunique('cr_id') #we need total counts by field to do percentage
    
    #WE WILL LIKELY NEED TO REINDEX AFTER DOING A GROUPBY
    by_finding.reset_index()
    by_field.reset_index()
    
    sus_by_field = by_field_sus.merge(by_field) #we need to put these dataframes together
    sus_by_field['pct_sus'] = sus_by_field['sustained_count'] / sus_by_field['total_count']
    
    return sus_by_field #Save your output so people can use it.